{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %} Meetups{% endblock %}
{% block header_content %}
    <link rel="stylesheet" href="{% static 'meetups/css/all-meetup.css' %}">
{% endblock %}
{% block heading %}
        <h1>Lots of upcoming Meetups</h1>
{% endblock %}
{% block body_content %}
    <main>
        <section>
            <h2>Upcoming Meetups</h2>
            <ol>
                {% for meets in meetups %}
              {% include 'meetups/include/meetup-list.html' with title=meets.title location=meets.location slug=meets.slug %}
                {% endfor %}
            </ol>
        </section>
    </main>
    {% endblock %}
