{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %}{{meetup_title}} {% endblock %}

{% block header_content %}
    <link rel="stylesheet" href="{% static 'meetups/css/meetup-detail.css' %}">
{% endblock %}

{% block heading %}<h1>{{meetup_title}}</h1>{% endblock %}
{% block body_content %}
<main>
  {% if meetup_found %}
  <article>
    <img src="{{meetup_img}}" alt=" " >
    <section id="location" >
      <h2> Meetup Location </h2>
      <address> This meetup takes place in <span> {{meetup_city}} </span> ({{meetup_addr}}) .</address>
    </section>
    <section id="details">
        <h2>What's this Meetup about?</h2>
        <p>{{meetup_description}}</p>
        <footer>
            <p>Need more details? Please <a href="">Contact the organiser</a></p>
        </footer>
    </section>
    <section id="registration">
        <h2>JOIN US!</h2>
    </section>
  </article>
  {% else %}
<p>No meetup found</p>
  {% endif %}
</main>
{% endblock %}
