{% extends 'meetups/base/base.html' %}
{% load static %}
{% block title %} You registered successfully ! {% endblock %}
{% block header_content %}
<link rel="stylesheet" href="{% static 'meetups/css/register.css' %}">
{% endblock %}
{% block heading %} Thanks for signing up ! {% endblock %}
{% block body_content %}
<section id="confirmation">
 <h2> You registered successfully ! </h2>
 <p> Thanks for signing up - see you at the meetup ! </p>
 <p> Got questions or can't make it ? Please <a href="mailto:{{meetups.organiser_email}}">contact the organizer</a> ahead of time!</p>
</section>
<section id="continue">
    <p>Of course you can signup for more than one meetup!</p>
    <p><a href="/" class="btn">Explore our Meetups</a></p>
</section>
{% endblock %}